.list-group-item {
    padding: 15px 20px;
    border-bottom: 1px solid #3a4d80;
}

.list-group-item:last-child {
    border-bottom: none;
}

.list-group-item span {
    width: 550px;
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
}

.list-group-item input {
    line-height: 35px;
    font-size: 20px;
    border: 0;
    text-align: center;
}

.list-group-item button {
    margin: 3px;
    width: 35px;
    height: 35px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.list-group-item .btn-cookie {
    color: #e09f3e;
    color: #e5383b;
}

.list-group-item .btn-trash {
    color: #e5383b;
}

.list-group-item .btn-star {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    color: #ffd700;
    transition: 0.3s all;
    transform: translateX(30px
    );
    opacity: 0;
}

.list-group-item.like .btn-star {
    opacity: 1;
    transform: translateX(0px
    );
}

.list-group-item.favourite .list-group-item.label,
.list-group-item.favourite .list-group-item.input 
{
    color: #e09f3e;
}

.list-group-item.favourite .btn-star {
    color: #eaaeae;
}